body{
    background-color:#1f2937;
    display:flex;
    flex-direction:column;
    font-family: 'Roboto Mono', monospace;
    margin:0px;
}
/*--Content css --*/
.zone{
    width:100%;
    display:flex;
    justify-content: center;
}
.content{
    max-width: 1200px;
    display:flex;
    padding:50px 100px;
}
/*--Header--*/
.zone.header{
    background-color: #1f2937;
}
.content.header{
    color:white;
    justify-content: space-between;
    align-items: center;
    flex:auto;
    padding:0px 100px;
}
.logo{
    font-size: 24px;
    color: #f0faf8;
    font-weight: bolder;
}
.link-list ul{
    display:flex;
    gap:8px;
    font-size: 18px;
    color:#e5e7eb;
    list-style: none;
    margin:0px;
    padding:0px;
}

/*--First section--*/
.first.zone{
    background-color: #1f2937;
}
.content.first{
    justify-content: space-between;
    align-items: center;
    flex:auto;
}
.left-side{
    max-width: 600px;
    flex:auto;
}
.content.first img{
    border-radius: 10px;
    background-color:#e5e7eb;
}
.title{
    font-size: 48px;
    font-weight:bold;
    color:#f9faf8;
}
.sub-title{
    font-size: 18px;
    color: #e5e7eb;
    margin:0px;
    margin-top:-50px;
}

.left-side button{
    background-color:#3882f6;
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding:8px 30px;
    border-radius: 5px;
    font-size:15px;
    margin:20px 0px;
    font-weight:bold;
}

/*-- second section--*/
.zone.second{
    background-color:white;
}
.content.second{
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex:auto;
}
.pictures{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    flex:1 1 auto;
}
.gallery-picture{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 250px;
}
.pictures img{
    border-style: solid;
    width:150px;
    height:150px;
    border-color:#3882f6 ;
    border-radius: 16px;

}
.content.second .title{
    color:#1f2937;
    font-size: 36px;
    font-weight:bolder;
}

/*--Third section--*/
.zone.third{
    background-color:#e5e7eb;
}
.content.third{
   flex-direction:column;
}
.quote {
    color:#1f2937;
    font-size:36px;
    font-weight:lighter;
    font-style:italic;
}
.author{
    text-align:right;
    font-size:20px;
}

/*--fourth-zone---*/
.zone.fourth{
    background-color:white;
    align-items: center;
    padding:50px 0;
}
.content.fourth{
    background-color:#3882f6;
    padding:20px 100px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.content.fourth .left-side{
    width: 800px;
    color:white;
    margin:0px;
    padding:0px;
}
.call-to-action{
    font-size: 20px;
    margin-bottom:0px;
    padding-bottom:0px;
    font-weight:700;
}
.action-msg{
    margin-top:0px;
    padding-top:0px;
    font-size:15px;
}
.fourth button{
    padding:8px 30px;
    background-color: #3882f6;
    border-style:solid;
    border-color: white;
    border-radius: 8px;
    color:white;
    font-weight: 1000;
    font-size:15px;
}